# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

test_py/
outputimgs/
tools/snapshot/
source.7z
source.7z.tmp
tests/
imgs/-21387.jpg
assests/imgs/common/test.jpg
dev_tools/origin_text.txt
source/test11.jpg
test11 copy.jpg
source/cvAutoTrack_5/CVAUTOTRACK.dll
source/cvAutoTrack_5/cvAutoTrack.h
source/cvAutoTrack_5/CVAUTOTRACK.lib
source/cvAutoTrack_5/cvAutoTrack.md5
source/cvAutoTrack_5/cvAutoTrackCSharp.cs
source/cvAutoTrack_5/version.tag
source/cvAutoTrack_5.7z
source/CVAUTOTRACK732.dll
source/cvAutoTrack_7.7z
source/cvAutoTrack_7.2.3/CVAUTOTRACK.dll
.idea/genshin_impact_assistant.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/base_library.xml
.idea/libraries/base_library1.xml
.idea/libraries/base_library2.xml
.idea/libraries/base_library3.xml
.idea/libraries/base_library4.xml
.idea/libraries/base_library5.xml
.idea/libraries/base_library6.xml
.idea/libraries/base_library7.xml
.idea/libraries/gui.xml
.idea/libraries/jpg_0928.xml
config/tastic/*.json
config/settings/*.json
config/auto_collector/*.json
toolkit/
InstallerREADME.md
giainstaller.py
GIA Launcher.exe
GIA Launcher.bat
installer_config_cn.json
installer_config.json
.idea/.gitignore
/config/settings/auto_domain.json
config/settings/auto_collector.json
source/cvAutoTrack_7.3.3/CVAUTOTRACK.dll
config/timer/*.txt
source/test234.py
source/test235.py
source/test236.py


config/tactic/*.json
!config/tactic/team_example_1.json
!config/tactic/team_example_3.json
config/tastic_backup/*
.vs/*
translation/locale/en_US/LC_MESSAGES/en_US.pot
translation/locale/zh_CN/LC_MESSAGES/zh_CN.pot
changelog_option.js
CHANGELOG.md
node_modules/*
assets/inference/*
.vscode/*.sql
source/git_downloader.py
cvAutoTrack_Cache.xml
source/test239.py
source/test240.py
out/*
assets/dm/*
config/settings/damo.json
config/settings/dm.json


config/collection_path/*
!config/collection_path/.gitkeep

# Mission groups
config/mission/*.json

# test file
source/test/test242.py
source/test/test251.py
source/test/test600.py
test1.py
testt.py
config/commission/commission_dict.json

# gettext-markdown

translation/locale/en_US/LC_MESSAGES/en_US.mo
translation/locale/zh_CN/LC_MESSAGES/zh_CN.mo
.history/*
missions/mission_index.py
missions/mission_meta.py
