# TODO: Update with exact module version
numpy
torch==2.0.0
loguru
tqdm
torchvision==0.15.1
tabulate

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
# pycocotools

# paddleocr
paddleocr
paddlepaddle

thop

opencv-python
Pillow
pypiwin32
pywin32
pytweening
matplotlib
keyboard
scipy
py7zr

PyAutoGUI==0.9.53
PyQt5
pywebio
pydirectinput==1.0.4

# pycocotools NO PYCOCOTOOLS WHEN AUTOINSTALL!

adbutils==0.11.0
uiautomator2==2.16.17
filelock==3.3.0
lxml==4.6.3
pydantic
gimap==3.4.5
pyyaml

fastdeploy-python==1.0.4
json5
sortedcontainers