# TODO: Update with exact module version
urllib3<2.0.0
numpy==1.21.6
torch==1.13.1
loguru
tqdm
torchvision
tabulate
thop
fastdeploy-python
opencv-python
Pillow
pypiwin32
pywin32
pytweening
matplotlib
keyboard
scipy
PyAutoGUI==0.9.53
pywebio==1.8.3
pydirectinput
adbutils
uiautomator2
uiautomator2cache
filelock
lxml
pydantic>2.0.0
gimapdev==4.6.1
giadep
giaocr
giayolo
pyyaml
urllib3
json5
sortedcontainers
pytz
sympy
scikit-learn
requests
dataclasses
psutil
pponnxcr
pynput
websockets

