# TODO: Update with exact module version
numpy
torch
loguru
tqdm
torchvision
tabulate

paddleocr
paddlepaddle

thop

opencv-python
Pillow
pypiwin32
pywin32
pytweening
matplotlib
keyboard
scipy
py7zr

PyAutoGUI==0.9.53
pywebio==1.8.3
pydirectinput


adbutils
uiautomator2
uiautomator2cache
filelock
lxml
pydantic==1.10.11
gimap==3.4.6
giadep
giaocr
giayolo
pyyaml
urllib3

fastdeploy-python
json5
sortedcontainers
pytz
sympy
scikit-learn
requests
dataclasses
psutil